body {
  background-color: #d9faff;
}
footer {
  text-align: center;
  margin: 30px auto;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 43px;
  color: #00204a;
  margin: 30px auto;
  font-weight: bold;
}
