.Phonetic {
  margin-top: 25px;
}
.Phonetic a {
  color: #00204a;
  font-weight: 400;
  margin-right: 15px;
  font-size: 14px;
  line-height: 17px;
  padding: 8px 18px;
  border: 1px solid #ddd;
  border-radius: 50px;
  text-decoration: none;
}
